body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

/* IMAGES */
.color1 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
        fixed = parallax
        scroll = normal 
     */
    background-attachment: fixed;
    background-image: url("_images/hero.jpg");
    min-height: 100%;
}

/* TEXT */
.ptitle {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptitle .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

/* GRID ITEMS */
.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}

.grid-item {
    padding: 0;
    margin: 0;
}

.item-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-content {
    padding: 10%;
    text-align: justify;
}

.content-1 {
    background-color: #979dac;
    color: white;
}

.content-2 {
    background-color: #fdffb6;
    color: #0077b6;
}

.content-3 {
    background-color: #b2ff9e;
    color: black;
}

.item-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
/*
.item-4 {
    background-color: black;

}

.item-4-1 {
    background-color: yellow;
}

.item-4-2 {
    background-color: blue;
}

.item-4-3 {
    background-color: chartreuse;
} */

.grid-color {
    /*  */
}

.color-1 {
    /* background-color: purple; */
    background-image: url("_images/sharon-mccutcheon-F-uHUndbXhY-unsplash.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
        fixed = parallax
        scroll = normal 
     */
    background-attachment: scroll;
    /* min-width: 100%; */
}

.color-2 {
    /* background-color: purple; */
    background-image: url("_images/davisco-rhUU1pemhQ0-unsplash.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
        fixed = parallax
        scroll = normal 
     */
    background-attachment: scroll;
    /* min-width: 100%; */
}

.color-3 {
    /* background-color: purple; */
    background-image: url("_images/thought-catalog-9aOswReDKPo-unsplash.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
        fixed = parallax
        scroll = normal 
     */
    background-attachment: scroll;
    /* min-width: 100%; */
